@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 23 146 165;
    --color-secondary: 80 164 180;
    --green-button: 56 228 147;
    --red-button: 237 120 121;
  }

  #root {
    background-color: rgb(229, 231, 235);
  }

  #root,
  .dark {
    background-color: rgb(31, 41, 55);
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #19202b;
  }

  ::-webkit-scrollbar-thumb {
    background: #343e4e;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2e3746;
  }

  .dark .react-international-phone-country-selector-button {
    background-color: rgb(55, 65, 81);
    border-width: 2px;
    height: 100%;
    border-right: none;
    border-color: rgb(17, 24, 39);
  }

  .dark .react-international-phone-country-selector-button:hover {
    background-color: rgb(50, 60, 76);
  }
}

@layer utilities {
  .bg-landing {
    background-image: url("./assets/landing-blob.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    position: absolute;
  }

  .loginButton {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "Hammersmith One", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .loginButton:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }

  .loginButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .loginButton:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
  }
}
